USE_SQLITE=0
MYSQL_DATABASE=travel_planner_db
MYSQL_USER=root
MYSQL_PASSWORD=Rayman12
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_UNSPLASH_ACCESS_KEY=your_unsplash_access_key
